/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

.board-cal-column {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
}
 #board-calculator {
 	padding: 0;
 	width: 100%;
 	// h3 {
 	// 	@include font-icon($icon-calculator);
 	// 	font-size: 22px;
 	// 	line-height: 1.3;
 	// 	margin-bottom: 20px;
 	// 	&:before {
 	// 		display: inline-block;
 	// 		font-size: 40px;
 	// 		line-height: 40px;
 	// 		margin-right: 20px;
 	// 	}
 	// 	span {
 	// 		display: inline-block;
 	// 		vertical-align: middle;
 	// 		br {
 	// 			display: none;
 	// 		}
 	// 	}
 	// }
 	h4 {
 		margin: 0 0 20px 0;
 	}
 	.dimensions {
 		label {
 			width: 40px;
 		}
 	}
 	p {
 		margin-bottom: 0;
 	}
 }
 .calc-section {
 	border-bottom: 1px solid $c-grey;
 	padding-bottom: 20px;
 	margin-bottom: 20px;
 	&:last-of-type {
 		padding-bottom: 0;
 		margin-bottom: 0;
 		border-bottom: none;
 	}
 }
.board-calc-image {
	display: none;
	width: calc(100% + 20px);
	overflow: hidden;
    position: relative;
	img {
		width: 100%;
	}
}
 #board-totals {
 	width: 100%;
 	margin-bottom: 20px;
 	input {
 		font-size: 13px;
 	}
	table {
		width: 100%;
	}
	tbody {
		tr {
			@include dotted-line($c-main, top);
		}
	}
	th,
	td {
		padding: 8px 0;
		text-align: center;
	}
	th {
		font-size: 13px;
		font-weight: normal;
		&.required {
			span {
				display: none;
			}
		}
		&.quantity {
			.long {
				display: none;
			}
		}
	}
	td {
		font-size:13px;
		&.type,
		&.thickness {
			color: $c-main;
			font-weight: 600;
			font-size: 14px;
		}
	}
 	span {
 		display: inline-block;
 		&[class^="board-cal"] {
 			margin-left: 20px;
 		}
 		&.label {
 			width: 54px;
 		}
 	}
 }

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#board-calculator {
		.dimensions {
			.form-group {
				display: inline-block;
				vertical-align: top;
				margin-right: 20px;
			}
			label {
				display: block;
				margin-bottom: 8px;
			}
		}
	}
	#board-totals {
	 	input {
	 		font-size: 14px;
	 	}
		th {
			&.required {
				span {
					display: block;
				}
			}
			&.quantity {
				.long {
					display: block;
				}
				.short {
					display: none;
				}
			}
		}
		td {
			font-size: 14px;
			&.type,
			&.thickness {
				font-size: 16px;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.board-calc-image {
		display: block;
		margin-bottom: 40px;
	}
	.board-cal-column {
		width: 49%;
		padding: 0;
	}
	#board-calculator {
		padding: 0 30px 20px 30px;
		.dimensions {
			.form-group {
				width: 32%;
				margin: 0;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.board-calc-image {
		margin-bottom: 4px;
	}
	#board-calculator {
		width: 88%;
		.dimensions {
			.form-group {
				width: auto;
				margin-right: 20px;
			}
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#board-calculator {
		padding: 30px;
	}
}