/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

#mywetroom-kit-picture {
	width: 100%;
	border: 1px solid $c-border;
	background: $c-blue;
	position: relative;
	display: none;
	vertical-align: top;
	margin: 0 auto $margin auto;
	background-image: url(../../images/mywetroom/display-bg.png);
	background-size: 100% auto;
	div {
		z-index: 1;
		position: absolute;
		&:after {
			max-width: 70px;
			content: url('../../images/mywetroom/tick.svg');
			z-index: 9;
			position: absolute;
			top: 0;
			right: 0;
		}
		p {
			color: $c-white;
			margin: 0;
			display: none;
			strong {
				font-weight: 400;
				font-size: 140%;
			}
		}
		img {
			max-width: 100%;
		}
		&.inactive{
			&:after {
				content: none;
			}
		}
		&.board {
			top: 3%;
			left: 2%;
			width: 39%;
			&:after {
				top: 25%;
				right: 20%;
			}
		}
		&.drain {
			left: 50%;
			top: 3%;
			width: 20%;
			@include transform(translateX(-50%));
			&:after {
				top: 55%;
			}
			p {
				text-align: center;
			}
		}
		&.install {
			bottom: 3%;
			left: 2%;
			width: 29%;
			&:after {
				top: 30%;
			}
		}
		&.screen {
			right: 2%;
			top: 3%;
			width: 19%;
			&:after {
				top: 30%;
				right: -5%;
			}
			p {
				float: right;
				white-space: nowrap;
			}
		}
		&.mat {
			bottom: 3%;
			right: 2%;
			width: 32%;
			&:after {
				top: 30%;
			}
			p {
				text-align: right;
			}
		}
		&.tray {
			width: 47%;
			left: 50%;
			bottom: 10%;
			@include transform(translate(-50%,0));
			&:after {
				top: 10%;
				right: 5%;
			}
			p {
				text-align: center;
			}
		}
		&.stat {
			top: 75%;
			right: 10%;
			width: 20%;
			z-index: 3;
			&:after {
				content: none;
			}
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#mywetroom-kit-picture {
		display: block;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#mywetroom-kit-picture {
		div.stat {
			top: 70%;
		}
		div p {
			display: block;
			font-size: 12px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#mywetroom-kit-picture {
		width: calc(100% - 365px);
		margin-right: $margin;
		display: inline-block;
		div {
			p {
				font-size: 10px;
			}
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#mywetroom-kit-picture {
		width: 100%;
		margin-right: $margin;
		display: inline-block;
		max-width: 780px;
		div {
			p {
				font-size: 12px;
			}
		}
	}
}