/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

 #mywetroom-kit-items {
 	background: $c-background;
 	width: 100%;
 	padding: 20px;
 	margin-bottom: 20px;
 	position: relative;
 	h2 {
 		color: $c-main;
 		text-transform: uppercase;
 		font-weight: 600;
 		margin: 0 0 10px 0;
 	}
 	table {
 		margin-bottom: 20px;
 		width: 100%;
 		tr {
 			transition: border-bottom 0.5s ease-in-out 0.5s;
 			div {
		 		opacity: 0;
		 		transform: rotateX(-90deg);
  				transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76) 0.7s;
 			}
	 		&.show {
	 			border-bottom: 1px solid $c-grey;
	 			div {
		 			opacity: 1;
		 			transform: none;
	 			}
	 		}
 		}
 		td {
 			padding: 14px 3px;
 		}
		.qty {
			font-size: 12px;
			display: none;
		}
		.qty-value {
			input {
				width: 45px;
				font-size: 13px;
				height: 25px;
				text-align: center;
			}
		}
		.item-name {
			font-size: 12px;
			line-height: 1.3;
		}
		.item-price {
			color: $c-main;
			font-weight: 600;
			font-size: 13px;
			text-align: right;
			padding: 14px 5px;
		}
		.remove-button {
			@include remove-button(15px);
		}
	}
 	.invalidation-error {
 		text-align: center;
 		font-size: 16px;
 	}
 	.price-output-block {
		background: none;
		padding: 0;
		.left {
			margin-left: 0;
			float: left;
			padding-bottom: 20px;
		}
		#add-to-basket {
	 		position: relative;
			display: block;
			clear: both;
			width: 100%;
			max-width: 355px;
			line-height: 50px;
			font-size: 16px;
			text-align: left;
			padding: 0 15px;
			&:before {
				@include icon('l');
				font-family: 'ufhs' !important;
				margin-right: 6px;
				font-size: 230%;
				line-height: 50px;
			}
			&:after {
				line-height: 50px;
				float: right;
			}
		}
 	}
 	.continue-button {
 		color: $c-green;
 		border: 2px solid $c-green;
 		width: 86px;
 		text-align: center;
 		font-size: 15px;
 		font-weight: 500;
 		@include border-radius(6px);
 		background: $c-white;
 		padding-bottom: 35px;
 		padding-top: 6px;
 		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index:1000;
 		&:after {
 			content: 'd';
 			font-family: mywetroom;
 			font-size: 20px;
 			position: absolute;
 			bottom: 10px;
 			left: 30px;
 		}
 		&:focus {
			color: $c-green;
			background: $c-white;
			&:after {
				color: $c-white;
			}
 		}
 	}
 }
// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#mywetroom-kit-items {
		.price-output-block {
			#add-to-basket {
				font-size: 20px;
				padding: 0 17px;
				&:before {
					font-size: 200%;
				}
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#mywetroom-kit-items {
		.continue-button {
			display: none;
		}
		.price-output-block {
			.left {
			}
			.right {
				label {
					position: relative;
					top: auto;
					right: auto;
				}
				button {
					position: relative;
					bottom: auto;
					left: auto;
				    margin-top: 35px;
				}
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#mywetroom-kit-items {
		width: 340px;
		display: inline-block;
		vertical-align: top;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#mywetroom-kit-items {
		width: calc(100% - 805px);
	}
}