@keyframes loading {
	0% {
		border: 0px solid $c-white;
		width: 0px;
		height: 0px;
	}

	5% {
		border-width: 1px;
		width: 0px;
		height: 0px;
	}
	85% {
		border: 8px solid $c-main;
		width: 45px;
		height: 45px;
		opacity: 1;
	}
	100% {
		opacity: 0;
 		//border: 8px solid $c-main;
 		width: 50px;
 		height: 50px;
 	}
 }

 @keyframes pulse {
 	0% {
 		@include transform(scale(1));
 	}
 	50% {
 		@include transform(scale(1.1));
 	}
 	100% {
 		@include transform(scale(1));
 	}
 }

 .loading-overlay {
 	display: none;
 	position: fixed;
 	z-index: 9999999;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	width: 100%;
 	height: 100%;
 	background: rgba(0,0,0,0.5);
 	.loader {
 		position: relative;
 		top: 50%;
 		left: 50%;
 		transform: translateX(-50%) translateY(-75%);
 		width: 50px;
 		height: 50px;
 		background-color: transparent;
 		border-radius: 50%;
 		&:after {
 			content: '';
 			position: absolute;
 			border-radius: 50%;
 			top: 50%;
 			left: 50%;
 			border: 0px solid $c-main;
 			transform: translate(-50%, -50%);
 			animation-name: loading;
 			animation-duration: 1000ms;
 			animation-fill-mode: forwards;
 			animation-timing-function: ease-out;
 			animation-iteration-count: infinite;
 		}
 	}
 	.loading-message {
 		position: absolute;
 		color: white;
 		top: calc(50% + 15px);
 		left: 0;
 		width: 100%;
 		text-align: center;
 		font-weight: 400;
 		font-size: 16px;
 		animation-name: pulse;
 		animation-duration: 1s;
 		animation-fill-mode: both;
 		animation-timing-function: ease-in-out;
 		animation-iteration-count:infinite;
 		span {
 			color: $c-grey;
 		}
 	}
 	&.active {
 		display: block;
 	}
 }