// --------------------------------
// Options
//
.option-container {
	position: relative;
}

.option {
	position: relative;
	display: table;
	width: $option-dimension;
	height: $option-dimension;
	border: 2px solid $c-background;
	background: $c-background;
	text-align: center;
	&.inline-option {
		float: left;
		margin-right: 10px;
	}
	&.selected {
		background: $c-lblue;
		border-color: $c-main;
		& ~ .warning {
			margin-top: 30px;
			@include transition(
				max-height 0.5s cubic-bezier(0.63, 0.04, 0.33, 0.99),
				margin-top 0.6s cubic-bezier(0.63, 0.04, 0.33, 0.99)
				);
			max-height: 200px;
			img {
				width: 33%;
			}
		}
	}
	&.disabled,
	&.unclickable {
		cursor: not-allowed;
		opacity: 0.3;
		border: 2px solid $c-mgrey;
	}
	&:hover {
		cursor: pointer;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	.option-wrapper {
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
		max-width: $option-dimension;
	}
	.caption {
		display: block;
		margin-top: 0;
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 15px;
	}
}

.info {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 48px solid $c-main;
	border-left: 78px solid transparent;
	a {
		position: absolute;
		font-family: mywetroom;
		color: #fff;
		top: -40px;
		left: -32px;
		font-size: 22px;
	}
}

.caption {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 10px;
	line-height: 1.3;
	text-align: center;
}

// -----------------------------
// Option groups
//
ul.selectable {
	font-size: 0;
	margin-bottom: 0;
	& > li {
		width: $option-dimension;
		margin: 0 10px 10px 0;
		display: inline-block;
		vertical-align: top;
		&.last {
			margin-bottom: 0;
		}
		&.disabled,
		&.unclickable {
			.option {
				background: $c-disabled;
			}
		}
		&.opt-2-col {
			width: 100%;
			.option {
				float: none;
				margin: 0 0 20px 0;
			}
		}
	}
}

// -------------------------------------------
// Options with multiple choices per option
//
.multi-option {
	label {
		display: block;
		margin-bottom: 8px;
	}
	input[type="radio"] {
		margin-right: 6px;
	}
	li {
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 12px);
		max-width: 200px;
		margin-right: 10px;
		border: 2px solid $c-border;
		&.active {
			background: $c-lblue;
			border-color: $c-main;
		}
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

.option-radios {
	padding: 15px;
	label {
		position: relative;
		padding-left: 20px;
		input[type="radio"]{
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.multi-option {
		li {
			margin-right: 20px;
		}
	}
	ul.selectable {
		li.opt-2-col {
			.option {
				float: left;
				margin: 0 20px 20px 0;
			}
			.content {
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 159px);
			}
		}
	}
	.option {
		&.selected {
			& ~ .warning {
				img {
					width: auto;
				}
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.multi-option {
		li:nth-of-type(2n) {
			margin-right: 20px;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	ul.selectable {
		& > li {
			margin: 0 20px 20px 0;
		}
		li.opt-2-col {
			width: calc(50% - 20px);
			&:nth-of-type(2n) {
				padding-top: 0;
				border-top: 0;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.option {
		width: $option-dimension-lg;
		height: $option-dimension-lg;
	}
	ul.selectable {
		& > li {
			width: $option-dimension-lg;
		}
		li.opt-2-col {
			.content {
				width: calc(100% - 200px);
			}
		}
	}
}