/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */
 [data-popup]{
 	max-height: 0;
 	overflow: hidden;
 	position: relative;
 	&.active {
 		@include transition(max-height $timer);
 		margin-top: $padding;
 		margin-bottom: 15px;
 	}
 	ul.popup-controls,
 	ul.slider-controls {
 		width: 100%;
 		font-size: 0;
 		margin-bottom: -1px;
 		li {
 			display: inline-block;
 			width: calc((100% / 3) - (21px / 3));
 			margin-right: 10px;
 			padding: $padding calc(100% / 20);
 			margin-bottom: 0;
 			font-size: 14px;
 			font-weight: 300;
 			vertical-align: bottom;
 			text-align: center;
 			background: $c-background;
 			border-bottom: 1px solid $c-main;
 			&.active {
 				border: 1px solid $c-main;
 				border-bottom: 1px solid $c-white;
 				background: $c-white;
 				font-weight: 500;
 			}
 			&:last-of-type {
 				margin-right: 0;
 			}
 		}
 	}
 	.slider-images {
 		& > [data-index]{
 			padding: $padding * 1.5;
 			border: 1px solid $c-main;
 		}
 	}
 	& > .titlebar {
 		.twenty,
 		.thirty {
 			&:before {
 				padding-right: 5px;
 			}
 		}
 		position: relative;
 		&.with-tray-icon {
 			padding: $padding;
 		}
 		padding: $padding * 1.5;
 		font-size: 22px;
 		background: $c-main;
 		margin-bottom: $padding * 1.5;
 		& > [data-close] {
 			position: absolute;
 			font-size: 0;
 			top: 50%;
 			right: 15px;
 			line-height: 0.8;
 			@include transform(translateY(-50%));
 			[data-icon] {
 				font-size: 14px;
 			}
 			&:hover {
 				cursor: pointer;
 			}
 		}
 		span {
 			color: $c-white;
 			&[data-symbol]{
 				display: block;
 				text-transform: uppercase;
 				padding-left: 5px;
 				&:before {
 					font-weight: 500;
 					font-size: 150%;
 					text-transform: initial;
 					margin-right: $padding;
 				}
 			}
 		}
 	}
 	.thermostat-image {
 		padding: 30px;
 		display: block;
 		margin: 0 auto;
 	}
 	.thermostat-description {
 		table {
 			th {
 				border-right: 2px solid $c-main;
 				font-weight: bold;
 			}
 			td {
 				font-weight: bold;
 			}
 		}
 	}
 	& > .site-logo {
 		display: block;
 		margin-bottom: $padding * 1.5;
 	}
 	.rwd-small {
 		& > div {
 			text-align: center;
 			display: block;
 			margin: 0 auto;
 			.heading {
 				max-width: 320px;
 				display: block;
 				margin: 0 auto ($padding * 1.5);
 				color: $c-main;
 				font-weight: 400;
 				font-size: 22px;
 				line-height: 1.2;
 			}
 			h2 {
 				margin: ($padding * 1.5) 0 $padding;
 			}
 		}
 	}
 }

 @include bp(min-width, 389px){
 	[data-popup]{
 		ul.popup-controls,
 		ul.slider-controls {
 			li {
 				padding: $padding calc(100% / 13);
 			}
 		}
 	}
 }

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	[data-popup] {
		ul.popup-controls,
		ul.slider-controls {
			li {
				padding: $padding 10%;
			}
		}
		.slider-images {
			& > [data-index] {
				padding-bottom: $padding * 2;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	[data-popup] {
		ul.popup-controls,
		ul.slider-controls {
			li {
				padding: $padding;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	body.modal-open {
		overflow: hidden;
	}
	.modal-popup {
		display: none;
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		&.active {
			display: block;
		}
	}
	[data-popup]{
		max-height: initial;
		width: 90%;
		overflow: visible;
		display: none;
		position: fixed;
		z-index: 999999;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		background: $c-white;
		max-width: 1080px;
		padding: 0;
		.close[data-close="popup"] {
			@include transform(translate(50%,-50%));
		}
		&.active {
			max-height: 90%!important;
			display: block;
		}
		.thermostat-image {
			padding :0;
			width: 34%;
			display: inline-block;
			vertical-align: top;
			padding-left: 3%;
			margin-top: 50px;
			max-width: 275px!important;
		}
		.thermostat-description {
			padding: $padding ($padding * 1.5) $padding 5%;
			display: inline-block;
			width: 64%;
			vertical-align: top;
		}
		.rwd-large.schematics {
			padding: $padding * 1.5;
			position: relative;
			border: 1px solid $c-main;
			z-index: -1;
			margin: 0 ($padding * 1.5) ($padding * 1.5);
			& > img {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				@include transition(opacity ($timer * 2));
				&.active {
					position: relative;
					opacity: 1;
					@include transition(opacity ($timer * 2));
				}
			}
			& > p {
				display: none;
				text-align: center;
				color: $c-main;
				font-weight: 400;
				font-size: 22px;
				line-height: 1.2;
				margin: ($padding * 1.5) 0;
				&.active {
					display: block;
				}
			}
		}
		ul.popup-controls,
		ul.slider-controls {
			margin: 0 ($padding * 1.5) -1px ($padding * 1.5);
			width: auto;
			li {
				display: inline-block;
				vertical-align: middle;
				width: calc((100% / 3) - (20px / 3));
				&:last-of-type {
					margin-right: 0;
				}
				button {
					margin: 0;
					max-width: 240px;
					width: 100%;
					height: 46px;
				}
			}
		}
		& > .site-logo {
			display: none;
		}
		& > .titlebar {
			padding: $padding;
			line-height: 32px;
			&.with-tray-icon {
				padding: $padding $padding $padding 175px;
				font-size: 25px;
				line-height: 38px;
				margin-bottom: 50px;
			}

			.title,
			span.rwd-large {
				display: inline-block!important;
				vertical-align: baseline;
			}
			.title {
				text-transform: uppercase;
				font-weight: 500;
				margin-right: $padding;
				line-height: 44px;
				&:before {
					position: absolute;
					left: 10px;
				}
				&.twenty:before {
					content: url(../../images/mywetroom/20mm-icon.svg);
				}
				&.thirty:before {
					content: url(../../images/mywetroom/30mm-icon.svg);
				}
			}
			[data-close]{
				margin-right: 0;
				font-size: 18px;
				[data-icon] {
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
					&:before {
						font-size: 30px;
					}
				}
			}
			.rwd-large {
				font-size: 14px;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	[data-popup] {
		& > .titlebar {
			font-size: 25px;
			line-height: 42px;
		}
		ul.popup-controls,
		ul.slider-controls {
			li {
				button {
					padding: 0 40px;
					font-size: 14px;
				}
			}
		}
		.rwd-large.schematics {
			padding: $padding * 3;
			margin: 0 ($padding * 3) ($padding * 3);
		}
		ul.popup-controls {
			margin: 0 ($padding * 3) -1px ($padding * 3);
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	[data-popup] {
		ul.popup-controls,
		ul.slider-controls {
			li {
				button {
					padding: 0 60px;
					height: 50px;
				}
			}
		}
	}
}