.lengths {
	button {
		margin-bottom: 10px;
	    display: inline-block;
	    margin-right: 40px;
	}
}
#room-calculator {
	button.active {
		float: left;
		padding: 8px 8px 8px 16px;
		&:after {
			margin-left: 24px;
		}
	}
	.titlebar {
		position: relative;
		.strapline {
			display: none;
		}
		[data-symbol],
		.title {
			display: inline-block;
			vertical-align: middle;
		}
		[data-symbol] {
			font-size: 24px;
		}
		.title {
			max-width: 50%;
			text-transform: uppercase;
			font-size: 21px;
			line-height: 21px;
		}
		[data-close] {
			font-size: 0;
			top: 50%;
			right: 15px;
			@include transform(translateY(-50%));
			[data-icon] {
				font-size: 14px;
			}
		}
	}
	.site-logo,
	.steps,
	.results,
	.titlebar {
		display: block;
		margin-bottom: $padding * 1.5;
	}
	.steps-list {
		width: 100%;
		padding: 0;
		margin: 0 0 -1px 0;
		font-size: 0;
		.step-link {
			display: inline-block;
			vertical-align: bottom;
			width: calc(50% - 7.5px);
			margin-bottom: 0;
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			background: $c-background;
			border-bottom: 1px solid $c-main;
			padding: ($padding * 1.5) 0;
			& + .step-link {
				margin-left: 15px;
			}
			&.active {
				border: 1px solid $c-main;
				border-bottom: 1px solid $c-white;
				background: $c-white;
				font-weight: bold;
			}
		}
	}
	.step-output {
		border: 1px solid $c-main;
		padding: ($padding * 2) ($padding * 3);
		display: none;
		&.active {
			display: block;
		}
		&[data-room-step="one"] {
			img {
				margin-left: -15px;
				margin-top: -15px;
				max-width: calc(100% + 15px);
			}
		}
		.heading {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: $padding * 3;
		}
		& > img {
			margin-bottom: $padding * 1.5;
		}
		.content {
			overflow: hidden;
			p {
				margin-bottom: $padding * 1.5;
			}
			button.active {
				margin-top: $padding * 1.5;
			}
		}
		.form {
			font-size: 0;
			.input-holder,
			.input-sep {
				vertical-align: bottom;
				display: inline-block;
			}
			.input-holder {
				width: 70px;
				position: relative;
				label {
					display: block;
					margin-bottom: $padding / 2;
					font-size: 14px;
				}
				input {
					height: 30px;
					width: 100%;
					@include border-radius(0px);
					border: 1px solid #666666;
					font-size: 14px;
					padding-right: 30px;
				}
				.after {
					position: absolute;
					bottom: 1px;
					right: 1px;
					height: 28px;
					width: 28px;
					color: $c-white;
					background: $c-inactive;
					text-align: center;
					font-weight: 500;
					font-size: 14px;
					line-height: 28px;
				}
			}
			.input-sep {
				line-height: 30px;
				margin: 0 $margin;
				font-size: 18px;
				font-weight: bold;
				color: $c-inactive;
			}
		}
		.footprints {
			max-width: 275px;
			margin-right: -15px;
			.entry {
				.input-holder {
					margin-top: $padding;
				}
				.delete {
					@include remove-button(15px);
					display: inline-block;
					vertical-align: bottom;
					margin: 8px 0 8px ($padding * 1.5);
				}
				&:first-of-type {
					.input-holder {
						margin-top: 0;
					}
				}
			}
			& + a {
				display: block;
				margin-top: $padding * 1.5;
				font-size: 14px;
			}
		}
	}
	.results {
		& > .title,
		& > .heading {
			display: none;
		}
		overflow: hidden;
		padding: $padding * 1.5;
		border: 1px solid $c-main;
		.total,
		.final {
			sup {
				font-size: 65%;
			}
		}
		.total {
			overflow: visible;
			font-size: 16px;
			margin-bottom: $padding * 1.5;
			span {
				float: right;
				font-size: 20px;
				color: $c-main;
				line-height: 8px;
				font-weight: 500;
			}
		}
		.final {
			border-top: 1px solid $c-main;
			padding-top: $padding * 1.5;
			color: $c-main;
			font-weight: 500;
			span {
				font-size: 24px;
			}
		}
		small {
			display: block;
			font-size: 12px;
			font-weight: 300;
			margin-bottom: $padding * 1.5;
		}
	}
}

.calculated-kit-size {
	display: none;
	font-size: 16px;
	font-weight: 400;
	margin-top: 12px;
	span {
		color: $c-blue;
		font-weight: 600;
		font-size: 150%;
		margin-left: 6px;
	}
	&.active {
		display: block;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#room-calculator {
		.step-output {
			.content,
			& > img {
				width: 45%;
				display: inline-block;
				vertical-align: top;
			}
			.content {
				width: 54%;
				padding-left: $padding * 1.5;
			}
			.form {
				.input-sep {
					font-size: 0;
					margin: 0 5px 0 0;
				}
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#room-calculator {
		.step-output {
			.content,
			& > img {
				max-width: 250px;
			}
			.content {
				width: calc(100% - 235px);
				padding-left: $padding * 2;
			}
			.form {
				.input-sep {
					font-size: 18px;
					margin: 0 ($padding * 2);
				}
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#room-calculator {
		font-size: 0;
		padding-bottom: $padding * 1.5;
		.titlebar {
			[data-symbol]{
				margin-left: $padding * 1.5;
				margin-right: 0;
				font-size: 24px;
				line-height: 39px;
				padding-left: 0;
			}
			.title {
				font-weight: 400;
				font-size: 28px;
			}
			[data-close]{
				font-size: 18px;
				[data-icon] {
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
				}
			}
		}
		.site-logo {
			padding-left: ($padding * 1.5) * 2;
			margin-bottom: $padding * 1.5;
		}
		.steps,
		.results {
			display: inline-block!important;
			vertical-align: top;
			padding-top: 0;
		}
		.steps {
			width: 50%;
			padding-left: $padding * 1.5;
			margin-right: $padding * 1.5;
		}
		.results {
			margin-right: $padding * 1.5;
			border: 1px solid $c-main;
			width: calc(50% - 30px);
			padding: $padding * 1.5;
			& > .title,
			& > .heading {
				text-align: center;
				display: block;
				margin-bottom: $padding * 1.5;
				line-height: 1;
			}
			& > .title {
				font-size: 18px;
				font-weight: 500;
			}
			& > .heading {
				font-size: 16px;
			}
		}
		.step-links {
			height: 48px;
		}
		.step-output {
			height: 470px;
		}
		.results {
			height: 470px + 47px;
		}
		.step-output {
			.content {
				width: 100%;
				padding-left: 0;
				max-width: 100%;
			}
			& > img {
				width: auto;
			}
			&[data-room-step="one"] {
				margin-bottom: 0;
				& > img {
					margin-left: -10px;
					margin-top: -5px;
					max-width: calc(100% + 10px);
				}
			}
			.footprints {
				height: 135px;
				overflow-y: scroll;
			}
		}
	}
	.calculated-kit-size.active {
		display: inline-block;
		margin-left: $padding * 2;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#room-calculator {
		.titlebar {
			.strapline {
				display: inline-block;
				font-size: 16px;
			}
			.title {
				margin-right: $padding * 1.5;
			}
			.strapline {
				vertical-align: bottom;
				line-height: 32px;
			}
		}
		.steps {
			width: 60%;
		}
		.step-links {
			height: 48px;
		}
		.step-output {
			height: 330px;
		}
		.results {
			width: calc(40% - 30px);
			height: 330px + 47px;
		}
		.step-output {
			& > img {
				width: 40%;
			}
			.content {
				width: 60%;
				padding-left: $padding * 2;
				overflow: visible;
			}
		}
	}
	.calculated-kit-size {
		margin-top: 4px;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#room-calculator {
		.step-links {
			height: 48px;
		}
		.step-output {
			height: 310px;
		}
		.results {
			height: 310px + 47px;
		}
		.step-output {
			padding: ($padding * 2) ($padding * 4);
			.footprints {
				max-width: 260px;
			}
			.content {
				width: auto;
				max-width: 310px;
				padding-left: $padding * 5;
			}
			& > img {
				width: auto;
			}
		}
	}
}