/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

#mywetroom-steps {
	clear: both;
	margin: 0;
	dt {
		width: 100%;
		background: $c-white;
		border: 2px solid $c-main;
		padding: $padding;
		margin-bottom: $margin;
		&:hover {
			cursor: pointer;
		}
		&:after {
			font-family: mywetroom;
			content: '>';
			color: $c-main;
			float: right;
		}
		.step {
			color: $c-main;
			text-transform: uppercase;
			font-size: 26px;
			margin: 0 $padding 0 ($padding / 2);
			span {
				display: none;
			}
			vertical-align: middle;
		}
		h2 {
		    margin: 0;
		    display: inline-block;
			vertical-align: middle;
		}
		.selection {
			display: none;
			strong {
				color: $c-main;
			}
		}
		&.active {
			&:after {
				font-family: mywetroom, ufhs;
				content: 'v';
			}
			& + dd {
				@include transition(all $timer ease);
				margin-bottom: $margin;
				height: auto;
			}
		}
		&.locked {
			opacity: 0.5;
			&:hover {
				cursor: default;
			}
		}
		.tick {
			display: none;
			position: absolute;
			left: 35px;
			top: 10px;
			img {
				width: 30px;
			}
		}
		&.completed {
			position: relative;
			.step {
				margin-right: 35px;
			}
			.tick {
				display: block;
			}
		}
	}
	dd {
		position: relative;
		max-height: 0px;
		height: 0;
		@include transition(all $timer ease);
		overflow: hidden;	
	}
}

.step-2-col {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0 0 20px 0;
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Small Extra Breakpoint
// =========================
@include bp(min-width, 710px) {
	.step-2-col {
		width: 49.5%;
		padding: 0 20px 0 0;
		&:nth-of-type(2) {
			border-top: none;
			border-left: 1px solid $c-border;
			padding: 0 0 0 20px;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#mywetroom-steps {
		dt {
			background: $c-background;
			border: none;
			position: relative;
			padding-left: 130px;
			.step {
				margin: 0;
				font-size: 20px;
				background: $c-white;
				border: 1px solid $c-main;
				position: absolute;
				left: 0;
				top: -2px;
				bottom: -2px;
				padding: 11px 20px;
				span {
					display: inline;
				}
				vertical-align: initial;
			}
			h2 {
				vertical-align: initial;
			}
			.tick {
				left: 92px;
				top: 0;
				img {
					width: 50px;
				}
			}
			&.completed {
				padding-left: 150px;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#mywetroom-steps {
		dt {
			&.completed {
				.selection {
					display: block;
					font-size: 13px;
					position: absolute;
					left: 33%;
					top: 0;
					line-height: 40px;
					strong {
						text-transform: uppercase;
					}
				}
				.product {
					margin-left: 30px;
					font-weight: 500;
				}
			}
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}