/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

#tooltip-error {
	display: none;
	pointer-events: none;
	opacity: 0;
	@include transition(opacity ($timer * 2));
	width: 400px;
	position: fixed;
	padding: 10px 15px;
	background: $c-white;
	border: 6px solid $c-main;
	z-index: 9999999;
	&.active {
		opacity: 1;
		@include transition(opacity ($timer * 2));
	}
	h2 {
		margin: 0 0 15px 0
	}
	.title {
		color: $c-main;
		font-size: 22px;
		line-height: 1.3;
		margin-bottom: 10px;
	}
	.message {
		font-size: 14px;
		line-height: 1.3;
		padding-bottom: $padding;
		min-height: 60px;
		padding-right: 60px;
	}
	.footer {
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
		p {
			position: relative;
			z-index: -2;
			border-top: 1px solid $c-border;
			padding-top: $padding;
			color: $c-main;
			margin: 0;
			& > span {
				display: inline-block;
				vertical-align: middle;
				strong,
				span {
					display: block;
					font-size: 18px;
					line-height: 1.2;
				}
				&[data-icon]{
					font-size: 32px;
					height: 58px;
					margin-left: -4px;
				}
			}
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {

}

// =========================
//  Medium extra Breakpoint
// =========================
@include bp(min-width, 1024px) {
	#tooltip-error {
		display: block;
		.arrow {
			position: absolute;
			&.right {
				right: 112px;
				.outer {
					right: 0;
				}
				.inner {
					right: 2px;
				}
			}
			&.left {
				left: 10px;
				.outer {
					left: 0;
				}
				.inner {
					left: 2px;
				}
			}
			&.bottom{
				top: 0;
				.inner {
					border-bottom: 18px solid $c-white;
					top: -18px;
				}
				.outer {
					border-bottom: 20px solid $c-main;
					top: -26px;
				}
			}
			&.top{
				bottom: 0;
				.inner {
					border-top: 18px solid $c-white;
					bottom: -18px;
				}
				.outer {
					border-top: 20px solid $c-main;
					bottom: -26px;
				}
			}
			.inner,
			.outer {
				width: 0; 
				height: 0; 
				position: absolute;	
			}
			.inner {				
				z-index: 999;
				border-left: 18px solid transparent;
				border-right: 18px solid transparent;
			}
			.outer {
				z-index: 998;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {

}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}