/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

[data-name="outstandingBasket"],
[data-name="basketSuccess"]{
	display: none!important;
}

 *:focus {
 	outline: 0;
 }

 [data-click]:hover {
 	cursor: pointer;
 }

 .rwd-small {
 	display: block;
 }
 .rwd-large {
 	display: none;
 }

 .std ul {
 	margin-bottom: 0;
 }

 .float-right {
 	float: right;
 	margin: 0 0 20px 20px;
 }

// Hide the mywetroom-flyout static block when we are on the mywetroom page
[id^="mywetroom-side-fly"] {
	display: none !important;
}

// --------------------------------
// Section
//
section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $c-lgrey;
}

dd {
	section:last-of-type {
		border-bottom: 0;
	}
}

// -------------------------------
// Option warning block
//
.warning {
	max-height: 0;
	overflow: hidden;
	display: block;
	clear: both;
	@include transition(max-height $timer);
	img {
		float: left;
		margin-right: 20px;
	}
}


// ---------------------------------------------------------
// Dotted strip containing price-block and skip to next link
//
.finalise-block {
	//overflow: hidden;
	position: relative;
	margin-bottom: 50px;
	margin-top: 20px;
	&:after {
		content: '';
		display: block;
		clear: both;
		width: 100%;
		height: 2px;
		@include dotted-line($c-main, bottom);
		padding-top: 20px;
	}
	.skip-step-link {
		position: absolute;
		bottom: -62px;
		left: 3%;
		p {
			margin: 0 0 15px 0;
			font-size: 25px;
			line-height: 1.3;
			text-align: center;
			strong {
				text-transform: uppercase;
				font-size: 90%;
				&:after {
					text-transform: none;
					font-family: mywetroom;
					content: 'd';
					display: inline-block;
					margin-left:4px;
					color: $c-main;
					font-size: 80%;
				}
			}
		}
		&:hover {
			cursor: pointer;
			p {
				strong {
					color: darken($c-text, 20%);
					&:after {
						color: darken($c-main, 10%);
					}
				}
			}
		}
	}
}

// ------------------------------
// Generic price out put block
//
.price-output-block {
	overflow: hidden;
	@include dotted-line($c-main);
	padding-top: 20px;
	position: relative;
	.left,
	.right {
		overflow: hidden;
	}
	.right {
		text-align: right;
		float: right;
		label {
			margin-bottom: 10px;
			font-size: 14px;
			display: block;
		}
		input {
			width: 48px;
			height: 26px;
			margin-left: 10px;
		}
		button {
			float: right;
		}
	}
	.left {
		text-align: left;
		margin-right: 40px;
		float: left;
		span {
			display: block;
			font-weight: 300;
			font-size: 15px;
			line-height: 1;
		}
		.our-price {
			font-size: 12px;
			line-height: 0.9;
		}
		.price {
			color: $c-main;
			font-weight: 300;
			font-size: 40px;
			line-height: 45px;
		}
	}
	.install-kit-qty-message {
		text-align: right;
		max-width: 190px;
		color: #009cd5;
		font-weight: 500;
	}
}

.stats {
	clear: both;
}

// ---------------------------------
// Electric mat length dropdown
//
.mat-length {
	label {
		margin-bottom: $margin;
		display: block;
		line-height: 1;
	}
}

// --------------------------
// Message that appears at the top of the screen to ask
// if the user wants to restore their previous session
//
#session-alert {
	width: 100%;
	background: lighten($c-green, 45%);
	line-height: 1.5;
	padding: 0 20px;
	max-height: 0;
	height: auto;
	position: relative;
	overflow: hidden;
	@include transition(max-height 0.5s cubic-bezier(0.63, 0.04, 0.33, 0.99),padding 0.5s cubic-bezier(0.63, 0.04, 0.33, 0.99));
	strong {
		color: $c-main;
		font-size: 16px;
		font-weight: 400;
	}
	a {
		font-weight: bold;
		text-decoration: underline;
		&:hover {
			color: $c-green;
		}
	}
	&.active {
		overflow: visible;
		max-height: 150px;
		margin-bottom: $margin;
		padding: 15px 20px;
		border: 2px solid $c-green;
		&:after,
		&:before {
			display: block;
		}
		&:after {
			left: 40px;
			bottom: -20px;
			border-bottom: none;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $c-green;
		}
		&:before {
			left: 42px;
			bottom: -17px;
			border-bottom: none;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			border-top: 18px solid lighten($c-green, 45%);
		}
	}
	&:after,
	&:before {
		content: ' ';
		position: absolute;
		display: none;
		@include transition(
			border-width 0.4s cubic-bezier(0.63, 0.04, 0.33, 0.99) 0.3s,
			left 0.4s cubic-bezier(0.63, 0.04, 0.33, 0.99) 0.3s,
			bottom 0.4s cubic-bezier(0.63, 0.04, 0.33, 0.99) 0.3s
			);
	}
	&:after {
		z-index: 10;
		bottom: 0px;
		left: 60px;
	}
	&:before {
		z-index: 11;
		bottom: 0px;
		left: 62px;
	}
}

@include bp(max-width, 364px) {
	.price-output-block {
		.install-kit-qty-message {
			margin-top: 30px;
		}
	}
	#mywetroom-steps {
		.price-output-block {
			.left {
				padding-bottom: 50px;
				margin-left: 10px;
			}
			.right {
				button,
				label {
					position: absolute;
				}
				button {
					bottom: 0;
					left: 10px;
				}
				label {
					top: 20px;
					right: 10px;
				}
			}
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.finalise-block {
		overflow: hidden;
		margin-bottom: 0;
		margin-top: 0;
		@include dotted-line($c-main);
		padding-top: 20px;
		.skip-step-link {
			position: relative;
			bottom: auto;
			left: auto;
			float: left;
			p {
				margin: 0;
				strong {
					display: block;
				}
			}
		}
		.price-output-block {
			background: none;
			padding-top: 0;
			.left {
				float: right;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.rwd-small {
		display: none;
	}
	.rwd-large {
		display: block;
	}
	.stats {
		padding-top: 0;
		border-top: 0;
	}
	.mat-length {
		//float: left;
		clear: both;
		label {
			margin-bottom: $padding;
		}
	}
	.price-output-block {
		.left {
			float: right;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {

}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	.mat-length {
		clear: right;
		line-height: 38px;
	}
}