// ----------------------------------
// Form Elements
//
input[type="number"] {
	height: 30px;
	border: 1px solid $c-grey;
	-moz-appearance: textfield;
	@include border-radius(6px);
	text-align: center;
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.metre {
	input {
		padding-right: 30px;
		width: 80px;
	}
	&:after {
		content: 'm';
		height: 30px;
		width: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		line-height: 26px;
		font-size: 14px;
		background: $c-grey;
		border: 1px solid $c-grey;
		color: $c-xlgrey;
		margin-left: -30px;
		@include border-radius(0 3px 3px 0);
		position: relative;
	}
}

select {
	font-size: 12px;
	height: auto;
}

input[type="radio"] {

}

@keyframes button-pulse {
	0% {
		background: $c-button;
	}
	50% {
		background: darken($c-button, 20%);
	}
	100% {
		background: $c-button;
	}
}

button {
	background: $c-button-disabled;
	color: $c-white;
	display: block;
	padding: 8px 20px;
	@include border-radius(5px);
	&:after {
		font-family: mywetroom, ufhs;
		content: '>';
		margin-left: 10px;
	}
	&:hover {
		cursor: not-allowed;

	}
	&.active {
		background: $c-button;
		&:hover {
			background: $c-button-hover;
				cursor: pointer;
		}
		&:focus,
		&:active {
			background: $c-button;
		}
	}
	&.blue {
		background: $c-blue;
		&:hover {
			background: darken($c-blue, 10%);
		}
	}
	&.grab-attention {
		animation-name: button-pulse;
		animation-duration: 0.3s;
		animation-fill-mode: none;
		animation-timing-function: cubic-bezier(0, 0, 0.34, 0.99);
		animation-iteration-count:2;
	}
}

.form-group {
	margin-bottom: 10px;
	& > * {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}
// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {

}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	select {
		font-size: 13px;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}