/**
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

$icon-cross: "\78";
$icon-double-down-arrow: "\64";
$icon-right-arrow: "\3e";
$icon-calculator: "\63";
$icon-info: "\69";
$icon-down-arrow: "\76";

$icomoon-font-path: "../../fonts/mywetroom" !default;

@font-face {
  font-family: 'mywetroom';
  src:  url('#{$icomoon-font-path}/mywetroom.eot?piq4fy');
  src:  url('#{$icomoon-font-path}/mywetroom.eot?piq4fy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/mywetroom.ttf?piq4fy') format('truetype'),
    url('#{$icomoon-font-path}/mywetroom.woff?piq4fy') format('woff'),
    url('#{$icomoon-font-path}/mywetroom.svg?piq4fy#mywetroom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mywetroom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($content){
    font-family: "mywetroom" !important; 
    font-style: normal !important; 
    font-weight: normal !important; 
    font-variant: normal !important; 
    text-transform: none !important; 
    speak: none; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle; 
    content: $content; 
}

//usage: @include icon_block($arrows, arrow_r);
@mixin font-icon($content) {
    &:before {
        @include icon($content);
    }
}

//usage: @include icon_block($arrows, arrow_r);
@mixin font-icon-after($content) {
    &:after {
        @include icon($content)
    }
}

.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-double-down-arrow {
  &:before {
    content: $icon-double-down-arrow;
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-down-arrow {
  &:before {
    content: $icon-down-arrow;
  }
}