/**
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

h1 {
	font-weight: 300;
	font-size: 26px;
	strong {
		color: $c-main;
	}
	img {
		margin-bottom: 10px;
	}
}

h2 {
	font-weight: 300;
	color: $c-text;
	font-size: 18px;
}

h3 {
	color: $c-text;
	margin: 0 0 20px 0;
	font-size: 26px;
	line-height: 1.4;
	font-weight: 600;
	small {
		display: block;
		font-size: 12px;
		font-weight: normal;
	}
	&.sub-numbering {
		strong {
			color: $c-main;
			font-weight: bold;
			margin-right: 10px;
		}
	}
}

h4 {
	color: $c-text;
	font-size: 15px;
	font-weight: 600;
}

.std p {
	font-size: 14px;
	margin-bottom: $padding;
}

small {
	font-size: 11px;
	font-weight: 500;
}

.embolden {
	color: $c-main!important;
}

[data-symbol] {
	&:before {
		font-family: mywetroom;
		content: attr(data-symbol);
		font-size: 175%;
		vertical-align: middle;
	}
}
ul.tick {
	margin-bottom: 15px!important;
	li {
		&:before {
			color: $c-main;
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

a.information {
	color: $c-main;
	text-transform: uppercase;
	margin-top: $padding;
	font-size: 10px;
	font-weight: 900;
	&:before {
		text-transform: lowercase;
		margin-right: $padding / 2;
		font-weight: 400;
	}
	&:hover {
		color: tint($c-main,50);
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	h1 {
		img {
			margin-bottom: 10px;
		}
	}
	h3 {
		font-weight: normal;
		small {
			display: inline-block;
			margin-left: ($padding / 2);
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	h1 {
		font-size: 28px;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}