/**
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

// ----------------------------------------------
// Colours
//
$c-white: #ffffff;
$c-black: #000000;
$c-blue: #009dc5;
$c-lblue: #bfe6f0;
$c-red: #e60004;
$c-green: #78b834;

$c-xlgrey:  #F4F4F4; 
$c-lgrey:  #ebebeb; 
$c-mgrey: #d0d0d0;
$c-grey: #a7a9ab;
$c-dgrey:  #58585B;

$c-background: $c-lgrey;
$c-disabled: #efefef;
$c-hover: $c-white;
$c-border: #dddddd;
$c-inactive: #a7a9ab;
$c-text: #58585B;

$c-main: $c-blue;

$c-button: $c-green;
$c-button-hover: darken($c-green, 10%);
$c-button-active: darken($c-green, 5%);
$c-button-disabled: $c-grey;

$ENV: 'wetroom';

@if $ENV == 'ufhs' {
	$c-main: $c-red;
}
@else if $ENV == 'wetroom' {
	$c-main: $c-blue;
}

// ----------------------------------------------
// sizes, layout and times
//
$padding: 10px;
$margin: 20px;

$option-dimension: 135px;
$option-dimension-lg: 180px;

$input-width: 40px;

$timer: 0.2s;

// ----------------------------------------------
// Breakpoints
//
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 769px;
$bp-large: 959px;
$bp-xlarge: 1199px;