/**
 * @category 	Design
 * @package 	mywetroom
 * @copyright 	Copyright (c) 2016 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author 		Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 * 				Chris Sewell <chris@theunderfloorheatingstore.com>
 */

@mixin padding-ratio($value){
	padding: ($value * 0.75) ($value * 2);
}

@mixin remove-button($diameter){
	$ratio: $diameter * 0.5;
	&:after {
		content: 'x';
		font-family: mywetroom;
		font-size: $ratio;
		line-height: 2;
		color: $c-white;
		text-align: center;
		width: $diameter;
		height: $diameter;
		background: $c-red;
		display: block;
		@include border-radius($diameter);
		&:hover {
			cursor: pointer;
			background: darken($c-red, 10%);
		}
	}
}

@mixin dotted-line($colour: #000, $position: top) {
	background-image: linear-gradient(to right, $colour 20%,rgba(255,255,255,0) 0%);
    background-position: $position;
    background-size: 11px 2px;
    background-repeat: repeat-x;
}