<select name="length">
	<option disabled="disabled" selected="selected">Choose an Option</option>
	<?php
	foreach($this->lengths as $sku => $option)
	{
		?>
		<option value="<?php echo $sku; ?>"><?php echo $option['name'] ?></option>
		<?php
	}
	?>
</select>